body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #f3f4f6;
    margin: 0;
    padding: 0;
}
.header {
    background-color: #4A90E2;
    color: white;
    padding: 15px;
    text-align: center;
}
.navbar {
    overflow: hidden;
    background-color: #333;
}
.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.navbar a:hover {
    background-color: #ddd;
    color: black;
}
.content {
    padding: 30px;
}
.footer {
    text-align: center;
    padding: 10px;
    background-color: #4A90E2;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.login-section {
    
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
    width: 350px;
    
    margin: auto;
    margin-top: 20px;
  }

  .container {
    display: inline-block;
    border-radius: 8px;
    margin: 15px;
    padding: 20px;
    text-align: center;
    background-color: #4A90E2;
    
  }
  
  .container a {
    text-align: center;
    color: white;
    font-style: italic;
    font-size: 20px;
    text-decoration: none;
    
  }
  
  
  .container>a>img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    }
    
  .homeimage {
    float: right;
    padding: 5px;
    border-style: solid;
    border-width: 0,5px;
    margin: 10px;
  }

  .homeimage>img {
    max-width: 400px;
    }
  
    .question {
        display: none;
    }

    .results {
        display: inline-block;
        max-width: 600px;
        text-align: center;

    }

    .results>img {
        max-width: 400px;
        padding: 20px;
        border-radius: 8px;
        /* margin: 20px; */
    }

    .active {
        border-radius: 8px;
        display: block;
        padding: 20px;
        margin: 20px;
        text-align: center;
        background-color: #4A90E2;
        color: white;
        font-style: italic;
        font-size: 20px;
    }

    .main {
        text-align: center;
      }

      .button {
        width: 100%;
        padding: 10px;
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
      }

      .testbutton {
        width: 500px;
        margin: 5px;
        padding: 10px;
        background-color: white;
        color: black;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
        box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
      }